#pageone{
    height: 100%; 
    background-image: url(https://img.zcool.cn/community/013af45ec10d2da8012072005157d3.jpg@1280w_1l_2o_100sh.jpg);
}
#haha{
    height: 80px;
    text-align: center;
    background-image:url(/assets/images/banner.png); 
    background-size: 100% 80px;
}